@Html.ActionLink("傳統Grid寫法", "TraditionWebGrid", "FastDesign")
|@Html.ActionLink("WebGrid", "WebGrid", "FastDesign")
|@Html.ActionLink("Crypto", "Crypto", "FastDesign")
|@Html.ActionLink("WebImage", "WebImageView", "FastDesign")
|@Html.ActionLink("Chart", "ChartView", "FastDesign")</li>
|@Html.ActionLink("ServerInfo", "ServerInfo", "FastDesign")
|@Html.ActionLink("WebCache", "WebCacheView", "FastDesign")
|@Html.ActionLink("Json", "JsonView", "FastDesign")</li>