@model IEnumerable<ViewDemo.Product>

@{
    ViewBag.Title = "TraditionWebGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>傳統的Grid寫法</h2>

<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            產品名稱
        </th>
        <th>
            價格
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}

</table>
