@{
    ViewBag.Title = "關於我們";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    <script type="text/javascript">
        alert("Hello");
    </script>   
}

<h2>關於</h2>
<p>
     將內容放在此處。
</p>
